<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/unit/barbarian/barbarian_side_attack_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,389},{47,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,67}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,411},{47,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,67}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,263},{62,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,89}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,80},{64,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,89}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,144},{70,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,77}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,0},{59,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,98}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,0},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,152},{42,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,108}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{46,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,108}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,396},{47,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,67}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,156},{106,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,74}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,68},{93,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,69}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,0},{80,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,94}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{130,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,72}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{125,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,72}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,0},{109,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,71}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,0},{92,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,70}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,194},{83,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,69}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_attack_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,401},{63,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,68}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_walk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,214},{81,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,64}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_walk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,62}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_walk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,459},{51,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,64}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_walk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,278},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,62}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_walk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,429},{64,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,56}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_walk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,400},{59,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_walk_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,388},{54,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,64}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_walk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,416},{68,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_win_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,436},{47,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,67}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_win_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,442},{47,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,67}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_win_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,175},{33,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,79}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_side_win_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,79},{33,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,96}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,477},{45,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,63}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,408},{45,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,63}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,452},{53,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,65}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,196},{58,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,90}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,319},{57,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,83}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,325},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,222},{64,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,79}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{121,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,69}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,443},{45,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,63}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,230},{59,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,85}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,163},{59,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,113}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,70},{66,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,96}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,493},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,66}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,71},{73,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,100}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,79},{72,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,99}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,69},{70,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,88}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,209},{71,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,75}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,379},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_attack_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,556},{47,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_walk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,411},{50,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,66}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_walk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,540},{48,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,59}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_walk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,510},{52,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,55}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_walk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,392},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_walk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,332},{62,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_walk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,340},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_walk_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,505},{51,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,59}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_walk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,453},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_win_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,483},{45,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,63}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_win_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,509},{45,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,63}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_win_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,166},{70,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,82}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_under_win_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,151},{71,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,95}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,348},{44,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,81}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,401},{44,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,81}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,144},{52,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,106}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,353},{63,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,74}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,317},{62,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,72}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,139},{70,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,81}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,72},{91,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,96}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,82},{115,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,74}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{113,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,82}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,437},{44,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,81}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,337},{51,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,68}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,281},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,68}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,289},{64,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,74}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,0},{79,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,111}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,269},{68,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,78}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,248},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,320},{69,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,76}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,325},{61,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,83}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,222},{50,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,96}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_attack_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,254},{48,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,94}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_walk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,0},{68,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,95}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_walk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,137},{67,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,91}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_walk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,318},{53,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,83}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_walk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,280},{52,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,75}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_walk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,349},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_walk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,254},{63,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,73}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_walk_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,222},{59,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,83}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_walk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,98},{66,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,96}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_win_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,332},{46,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,79}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_win_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,286},{52,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,92}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_win_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,204},{65,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,87}</string>
			</dict>
			<key>animation/unit/barbarian/barbarian_upper_win_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,338},{63,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atlas.png</string>
			<key>realTextureFileName</key>
			<string>atlas.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>