<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>scene/battle/layer/battle/battle_empty_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,587},{82,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,106}</string>
			</dict>
			<key>scene/battle/layer/battle/battle_icon_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{960,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,154}</string>
			</dict>
			<key>scene/battle/layer/battle/end_battle_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,452},{134,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,47}</string>
			</dict>
			<key>scene/battle/layer/battle/over_all_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,268},{200,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,154}</string>
			</dict>
			<key>scene/battle/layer/battle/unit_select_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,452},{960,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,135}</string>
			</dict>
			<key>scene/battle/layer/battle/barbarian_select_button_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,154},{86,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,109}</string>
			</dict>
			<key>scene/battle/layer/battle/barbarian_select_button_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,263},{86,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,109}</string>
			</dict>
			<key>scene/battle/layer/battle/barbarian_select_button_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,154},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>scene/battle/layer/battle/giant_select_button_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,154},{86,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,109}</string>
			</dict>
			<key>scene/battle/layer/battle/giant_select_button_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,263},{86,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,109}</string>
			</dict>
			<key>scene/battle/layer/battle/giant_select_button_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,154},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>scene/battle/layer/battle/goblin_select_button_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,154},{86,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,109}</string>
			</dict>
			<key>scene/battle/layer/battle/goblin_select_button_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,263},{86,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,109}</string>
			</dict>
			<key>scene/battle/layer/battle/goblin_select_button_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,268},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>scene/battle/layer/battle/wallbreaker_select_button_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,154},{86,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,109}</string>
			</dict>
			<key>scene/battle/layer/battle/wallbreaker_select_button_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,263},{86,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,109}</string>
			</dict>
			<key>scene/battle/layer/battle/wallbreaker_select_button_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,154},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>scene/battle/layer/battle/archer_select_button_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,349},{86,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,109}</string>
			</dict>
			<key>scene/battle/layer/battle/archer_select_button_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,726},{86,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,109}</string>
			</dict>
			<key>scene/battle/layer/battle/archer_select_button_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,268},{90,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,120}</string>
			</dict>
			<key>scene/battle/layer/battle/emerald_guage.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,586},{140,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,36}</string>
			</dict>
			<key>scene/battle/layer/battle/emerald_guage_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,388},{140,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,36}</string>
			</dict>
			<key>scene/battle/layer/battle/emerald_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,228},{32,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,40}</string>
			</dict>
			<key>scene/battle/layer/battle/food_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,388},{33,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,38}</string>
			</dict>
			<key>scene/battle/layer/battle/food_icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,372},{66,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,75}</string>
			</dict>
			<key>scene/battle/layer/battle/gold_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,388},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>scene/battle/layer/battle/over_all_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,154},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>
			<key>scene/battle/layer/battle/resource_guage.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{228,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,32}</string>
			</dict>
			<key>scene/battle/layer/battle/victory_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,268},{176,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,169}</string>
			</dict>
			<key>scene/battle/layer/battle/food_guage.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,0},{226,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,28}</string>
			</dict>
			<key>scene/battle/layer/battle/gold_guage.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,226},{226,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atlas.png</string>
			<key>realTextureFileName</key>
			<string>atlas.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>