<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>giant1.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{147,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,113}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>giant10.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,111},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>giant100.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,537},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>giant11.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,104},{131,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,111}}</string>
                <key>sourceSize</key>
                <string>{131,111}</string>
            </dict>
            <key>giant12.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,237},{142,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,113}}</string>
                <key>sourceSize</key>
                <string>{142,113}</string>
            </dict>
            <key>giant13.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,474},{122,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,131}}</string>
                <key>sourceSize</key>
                <string>{122,131}</string>
            </dict>
            <key>giant14.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,598},{89,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,143}}</string>
                <key>sourceSize</key>
                <string>{89,143}</string>
            </dict>
            <key>giant15.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,729},{63,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,145}}</string>
                <key>sourceSize</key>
                <string>{63,145}</string>
            </dict>
            <key>giant16.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,339},{72,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,143}}</string>
                <key>sourceSize</key>
                <string>{72,143}</string>
            </dict>
            <key>giant17.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,424},{85,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,138}}</string>
                <key>sourceSize</key>
                <string>{85,138}</string>
            </dict>
            <key>giant18.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,114},{107,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,132}}</string>
                <key>sourceSize</key>
                <string>{107,132}</string>
            </dict>
            <key>giant19.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,600},{117,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,127}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
            <key>giant2.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,221},{139,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,116}}</string>
                <key>sourceSize</key>
                <string>{139,116}</string>
            </dict>
            <key>giant20.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,674},{108,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,122}}</string>
                <key>sourceSize</key>
                <string>{108,122}</string>
            </dict>
            <key>giant21.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,762},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>giant22.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,857},{78,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,125}}</string>
                <key>sourceSize</key>
                <string>{78,125}</string>
            </dict>
            <key>giant23.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,534},{82,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,130}}</string>
                <key>sourceSize</key>
                <string>{82,130}</string>
            </dict>
            <key>giant24.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,743},{102,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{102,131}</string>
            </dict>
            <key>giant25.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,322},{85,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,141}}</string>
                <key>sourceSize</key>
                <string>{85,141}</string>
            </dict>
            <key>giant26.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,225},{95,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,141}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
            <key>giant27.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,226},{110,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,132}}</string>
                <key>sourceSize</key>
                <string>{110,132}</string>
            </dict>
            <key>giant28.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,876},{125,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>giant29.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,338},{137,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,123}}</string>
                <key>sourceSize</key>
                <string>{137,123}</string>
            </dict>
            <key>giant3.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,413},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>giant30.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,2},{143,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,127}}</string>
                <key>sourceSize</key>
                <string>{143,127}</string>
            </dict>
            <key>giant31.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{147,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,127}}</string>
                <key>sourceSize</key>
                <string>{147,127}</string>
            </dict>
            <key>giant32.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,98},{144,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,121}}</string>
                <key>sourceSize</key>
                <string>{144,121}</string>
            </dict>
            <key>giant33.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,887},{134,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,114}}</string>
                <key>sourceSize</key>
                <string>{134,114}</string>
            </dict>
            <key>giant34.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,738},{119,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,117}}</string>
                <key>sourceSize</key>
                <string>{119,117}</string>
            </dict>
            <key>giant35.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,224},{102,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,130}}</string>
                <key>sourceSize</key>
                <string>{102,130}</string>
            </dict>
            <key>giant36.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,423},{91,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,138}}</string>
                <key>sourceSize</key>
                <string>{91,138}</string>
            </dict>
            <key>giant37.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,618},{114,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,108}</string>
            </dict>
            <key>giant38.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,349},{73,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,132}}</string>
                <key>sourceSize</key>
                <string>{73,132}</string>
            </dict>
            <key>giant39.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,636},{112,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,124}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>giant4.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,417},{109,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,132}}</string>
                <key>sourceSize</key>
                <string>{109,132}</string>
            </dict>
            <key>giant40.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,483},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,118}}</string>
                <key>sourceSize</key>
                <string>{106,118}</string>
            </dict>
            <key>giant41.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,836},{106,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{106,114}</string>
            </dict>
            <key>giant42.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,338},{83,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,120}}</string>
                <key>sourceSize</key>
                <string>{83,120}</string>
            </dict>
            <key>giant43.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,356},{102,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,125}}</string>
                <key>sourceSize</key>
                <string>{102,125}</string>
            </dict>
            <key>giant44.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,528},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>giant45.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,857},{106,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,121}}</string>
                <key>sourceSize</key>
                <string>{106,121}</string>
            </dict>
            <key>giant46.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,857},{121,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,116}}</string>
                <key>sourceSize</key>
                <string>{121,116}</string>
            </dict>
            <key>giant47.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,101},{133,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,134}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>giant48.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{97,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,170}}</string>
                <key>sourceSize</key>
                <string>{97,170}</string>
            </dict>
            <key>giant49.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{94,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,173}}</string>
                <key>sourceSize</key>
                <string>{94,173}</string>
            </dict>
            <key>giant5.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,147},{97,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,137}}</string>
                <key>sourceSize</key>
                <string>{97,137}</string>
            </dict>
            <key>giant50.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,615},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>giant51.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,116},{106,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,112}}</string>
                <key>sourceSize</key>
                <string>{106,112}</string>
            </dict>
            <key>giant52.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,618},{114,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,97}}</string>
                <key>sourceSize</key>
                <string>{114,97}</string>
            </dict>
            <key>giant53.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,856},{121,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,107}}</string>
                <key>sourceSize</key>
                <string>{121,107}</string>
            </dict>
            <key>giant54.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,738},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>giant55.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,313},{63,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,137}}</string>
                <key>sourceSize</key>
                <string>{63,137}</string>
            </dict>
            <key>giant56.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,729},{98,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,156}}</string>
                <key>sourceSize</key>
                <string>{98,156}</string>
            </dict>
            <key>giant57.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{104,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,169}}</string>
                <key>sourceSize</key>
                <string>{104,169}</string>
            </dict>
            <key>giant58.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{107,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,166}}</string>
                <key>sourceSize</key>
                <string>{107,166}</string>
            </dict>
            <key>giant59.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{112,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,150}}</string>
                <key>sourceSize</key>
                <string>{112,150}</string>
            </dict>
            <key>giant6.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,409},{92,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,139}}</string>
                <key>sourceSize</key>
                <string>{92,139}</string>
            </dict>
            <key>giant60.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,223},{110,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,118}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
            <key>giant61.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,720},{93,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,121}}</string>
                <key>sourceSize</key>
                <string>{93,121}</string>
            </dict>
            <key>giant62.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,537},{77,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,135}}</string>
                <key>sourceSize</key>
                <string>{77,135}</string>
            </dict>
            <key>giant63.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,246},{65,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,137}}</string>
                <key>sourceSize</key>
                <string>{65,137}</string>
            </dict>
            <key>giant64.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,600},{120,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,127}}</string>
                <key>sourceSize</key>
                <string>{120,127}</string>
            </dict>
            <key>giant65.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,111},{108,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,143}}</string>
                <key>sourceSize</key>
                <string>{108,143}</string>
            </dict>
            <key>giant66.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,352},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>giant67.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,477},{121,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,136}}</string>
                <key>sourceSize</key>
                <string>{121,136}</string>
            </dict>
            <key>giant68.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{106,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,163}}</string>
                <key>sourceSize</key>
                <string>{106,163}</string>
            </dict>
            <key>giant69.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,728},{106,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,116}}</string>
                <key>sourceSize</key>
                <string>{106,116}</string>
            </dict>
            <key>giant7.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,443},{89,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,139}}</string>
                <key>sourceSize</key>
                <string>{89,139}</string>
            </dict>
            <key>giant70.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,618},{105,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,118}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>giant71.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,597},{110,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,121}}</string>
                <key>sourceSize</key>
                <string>{110,121}</string>
            </dict>
            <key>giant72.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,842},{121,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,117}}</string>
                <key>sourceSize</key>
                <string>{121,117}</string>
            </dict>
            <key>giant73.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,516},{97,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,129}}</string>
                <key>sourceSize</key>
                <string>{97,129}</string>
            </dict>
            <key>giant74.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,843},{97,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,120}}</string>
                <key>sourceSize</key>
                <string>{97,120}</string>
            </dict>
            <key>giant75.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,511},{105,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,119}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>giant76.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,738},{99,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,117}}</string>
                <key>sourceSize</key>
                <string>{99,117}</string>
            </dict>
            <key>giant77.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,717},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>giant78.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{185,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,100}}</string>
                <key>sourceSize</key>
                <string>{185,100}</string>
            </dict>
            <key>giant79.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,110}}</string>
                <key>sourceSize</key>
                <string>{201,110}</string>
            </dict>
            <key>giant8.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,503},{92,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,130}}</string>
                <key>sourceSize</key>
                <string>{92,130}</string>
            </dict>
            <key>giant80.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{182,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,107}}</string>
                <key>sourceSize</key>
                <string>{182,107}</string>
            </dict>
            <key>giant81.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,378},{63,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,137}}</string>
                <key>sourceSize</key>
                <string>{63,137}</string>
            </dict>
            <key>giant82.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{100,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,127}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>giant83.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,472},{131,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,126}}</string>
                <key>sourceSize</key>
                <string>{131,126}</string>
            </dict>
            <key>giant84.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,876},{125,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,131}}</string>
                <key>sourceSize</key>
                <string>{125,131}</string>
            </dict>
            <key>giant85.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,343},{125,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,127}</string>
            </dict>
            <key>giant86.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,226},{132,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,121}}</string>
                <key>sourceSize</key>
                <string>{132,121}</string>
            </dict>
            <key>giant87.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,338},{77,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,143}}</string>
                <key>sourceSize</key>
                <string>{77,143}</string>
            </dict>
            <key>giant88.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{152,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,126}}</string>
                <key>sourceSize</key>
                <string>{152,126}</string>
            </dict>
            <key>giant89.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,221},{115,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,135}}</string>
                <key>sourceSize</key>
                <string>{115,135}</string>
            </dict>
            <key>giant9.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,618},{97,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,118}}</string>
                <key>sourceSize</key>
                <string>{97,118}</string>
            </dict>
            <key>giant90.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,600},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>giant91.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,882},{119,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,126}}</string>
                <key>sourceSize</key>
                <string>{119,126}</string>
            </dict>
            <key>giant92.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,116},{108,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,133}}</string>
                <key>sourceSize</key>
                <string>{108,133}</string>
            </dict>
            <key>giant93.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,237},{99,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,140}}</string>
                <key>sourceSize</key>
                <string>{99,140}</string>
            </dict>
            <key>giant94.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,117},{106,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{106,138}</string>
            </dict>
            <key>giant95.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>giant96.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>giant97.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,729},{100,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,151}}</string>
                <key>sourceSize</key>
                <string>{100,151}</string>
            </dict>
            <key>giant98.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,729},{109,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,145}}</string>
                <key>sourceSize</key>
                <string>{109,145}</string>
            </dict>
            <key>giant99.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,836},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>giant.png</string>
            <key>size</key>
            <string>{1502,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:135a46a0846e91489a5ede14cd57223e:f03a085dc223c56ca391457e30216765:df1b0d2b29130c2640c52faee4dbff86$</string>
            <key>textureFileName</key>
            <string>giant.png</string>
        </dict>
    </dict>
</plist>
