<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/barrier/cannon/cannon_stand.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{72,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,53}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon01.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,86},{52,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,37}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon02.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,84},{53,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,38}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon03.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,44},{52,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,41}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon04.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,0},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon05.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,0},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon06.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,0},{44,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,51}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon07.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,0},{41,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,54}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon08.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,47},{38,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,56}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,91},{37,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,57}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,47},{37,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,57}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,47},{37,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,57}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,53},{38,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,56}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon13.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,0},{41,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,54}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon14.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,0},{44,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,51}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon15.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,0},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon16.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,41},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon17.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,45},{52,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,41}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon18.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,87},{53,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,38}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon19.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,97},{52,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,37}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon20.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,47},{53,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,40}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon21.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,41},{51,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,43}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon22.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon23.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon24.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,0},{45,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,50}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon25.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,45},{41,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,52}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon26.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,47},{39,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,52}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon27.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,86},{37,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,53}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon28.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,122},{37,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,53}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon29.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,123},{37,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,53}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon30.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,84},{39,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,52}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon31.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,87},{41,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,52}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon32.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{45,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,50}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon33.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,0},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon34.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon35.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,44},{51,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,43}</string>
			</dict>
			<key>animation/barrier/cannon/cnannon36.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,85},{53,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atlas.png</string>
			<key>realTextureFileName</key>
			<string>atlas.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>