<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>motar1.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,170},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>motar2.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{142,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,111}}</string>
                <key>sourceSize</key>
                <string>{142,111}</string>
            </dict>
            <key>motar3.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,100},{68,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,93}}</string>
                <key>sourceSize</key>
                <string>{68,93}</string>
            </dict>
            <key>motar4.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>motar5.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>motar6.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,146},{68,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,101}}</string>
                <key>sourceSize</key>
                <string>{68,101}</string>
            </dict>
            <key>motar7.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,146},{66,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,103}}</string>
                <key>sourceSize</key>
                <string>{66,103}</string>
            </dict>
            <key>motar8.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,170},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>motar9.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,170}}</string>
                <key>sourceSize</key>
                <string>{235,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>motar.png</string>
            <key>size</key>
            <string>{435,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b7b39e565d8782ecd2e3c193c64521e:edc372143f70f05d827252473e5b23e4:cf49b7bcd69607ff98e00b5f08843161$</string>
            <key>textureFileName</key>
            <string>motar.png</string>
        </dict>
    </dict>
</plist>
