<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/barrier/mortar/motar_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{142,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,111}</string>
			</dict>
			<key>animation/barrier/mortar/motar_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,111},{59,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,68}</string>
			</dict>
			<key>animation/barrier/mortar/motar_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,66},{68,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,93}</string>
			</dict>
			<key>animation/barrier/mortar/motar_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,68},{66,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,92}</string>
			</dict>
			<key>animation/barrier/mortar/motar_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,0},{70,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,96}</string>
			</dict>
			<key>animation/barrier/mortar/motar_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,0},{68,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,101}</string>
			</dict>
			<key>animation/barrier/mortar/motar_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{66,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,103}</string>
			</dict>
			<key>animation/barrier/mortar/motar_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{60,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atlas.png</string>
			<key>realTextureFileName</key>
			<string>atlas.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>