<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon1.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,102},{73,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,105}}</string>
                <key>sourceSize</key>
                <string>{73,105}</string>
            </dict>
            <key>cannon10.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,84},{104,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,73}}</string>
                <key>sourceSize</key>
                <string>{104,73}</string>
            </dict>
            <key>cannon11.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{105,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,76}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>cannon12.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{104,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>cannon13.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,86},{99,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,89}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>cannon14.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>cannon15.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,102}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>cannon16.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{82,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,108}}</string>
                <key>sourceSize</key>
                <string>{82,108}</string>
            </dict>
            <key>cannon17.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{76,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,112}}</string>
                <key>sourceSize</key>
                <string>{76,112}</string>
            </dict>
            <key>cannon18.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{74,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,115}}</string>
                <key>sourceSize</key>
                <string>{74,115}</string>
            </dict>
            <key>cannon19.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{73,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,115}}</string>
                <key>sourceSize</key>
                <string>{73,115}</string>
            </dict>
            <key>cannon2.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,80},{74,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,105}}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>cannon20.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,2},{74,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,115}}</string>
                <key>sourceSize</key>
                <string>{74,115}</string>
            </dict>
            <key>cannon21.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{76,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,112}}</string>
                <key>sourceSize</key>
                <string>{76,112}</string>
            </dict>
            <key>cannon22.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{82,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,108}}</string>
                <key>sourceSize</key>
                <string>{82,108}</string>
            </dict>
            <key>cannon23.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,102}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>cannon24.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,78},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>cannon25.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,86},{99,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,89}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>cannon26.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,80},{104,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>cannon27.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,2},{105,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,76}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>cannon28.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,100},{104,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,73}}</string>
                <key>sourceSize</key>
                <string>{104,73}</string>
            </dict>
            <key>cannon29.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{105,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,80}}</string>
                <key>sourceSize</key>
                <string>{105,80}</string>
            </dict>
            <key>cannon3.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,97},{78,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,104}}</string>
                <key>sourceSize</key>
                <string>{78,104}</string>
            </dict>
            <key>cannon30.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,86},{103,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,86}}</string>
                <key>sourceSize</key>
                <string>{103,86}</string>
            </dict>
            <key>cannon31.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>cannon32.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,98}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>cannon33.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,78},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>cannon34.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,92},{83,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,104}}</string>
                <key>sourceSize</key>
                <string>{83,104}</string>
            </dict>
            <key>cannon35.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,97},{78,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,104}}</string>
                <key>sourceSize</key>
                <string>{78,104}</string>
            </dict>
            <key>cannon36.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,84},{74,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,105}}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>cannon4.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,92},{83,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,104}}</string>
                <key>sourceSize</key>
                <string>{83,104}</string>
            </dict>
            <key>cannon5.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,80},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>cannon6.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{95,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,98}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>cannon7.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>cannon8.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,80},{103,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,86}}</string>
                <key>sourceSize</key>
                <string>{103,86}</string>
            </dict>
            <key>cannon9.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,2},{105,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,80}}</string>
                <key>sourceSize</key>
                <string>{105,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannon.png</string>
            <key>size</key>
            <string>{1918,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67fb3a6a0b049de205583b92a9c98fe2:1e05f2eb4f694c49d8d4c698f12f0703:611be8cd62114a30f9abf210403ed086$</string>
            <key>textureFileName</key>
            <string>cannon.png</string>
        </dict>
    </dict>
</plist>
