<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goblin1.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,2},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>goblin10.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>goblin11.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{35,56}</string>
            </dict>
            <key>goblin12.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>goblin13.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>goblin14.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,2},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>goblin15.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{35,56}</string>
            </dict>
            <key>goblin16.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{42,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,53}}</string>
                <key>sourceSize</key>
                <string>{42,53}</string>
            </dict>
            <key>goblin17.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{37,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,58}}</string>
                <key>sourceSize</key>
                <string>{37,58}</string>
            </dict>
            <key>goblin18.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>goblin19.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{36,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,59}}</string>
                <key>sourceSize</key>
                <string>{36,59}</string>
            </dict>
            <key>goblin2.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,2},{42,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,53}}</string>
                <key>sourceSize</key>
                <string>{42,53}</string>
            </dict>
            <key>goblin20.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,2},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{38,62}</string>
            </dict>
            <key>goblin21.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>goblin22.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>goblin23.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>goblin24.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>goblin25.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>goblin26.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{31,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,56}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>goblin27.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{32,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,55}}</string>
                <key>sourceSize</key>
                <string>{32,55}</string>
            </dict>
            <key>goblin28.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,2},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>goblin29.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>goblin3.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,2},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>goblin30.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>goblin31.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,2},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>goblin32.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>goblin33.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>goblin34.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>goblin35.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{33,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,58}}</string>
                <key>sourceSize</key>
                <string>{33,58}</string>
            </dict>
            <key>goblin36.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>goblin37.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>goblin38.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,2},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>goblin39.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>goblin4.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,2},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>goblin40.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{37,56}</string>
            </dict>
            <key>goblin41.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>goblin42.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,2},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>goblin5.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,2},{38,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,49}}</string>
                <key>sourceSize</key>
                <string>{38,49}</string>
            </dict>
            <key>goblin6.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>goblin7.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,2},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>goblin8.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>goblin9.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goblin.png</string>
            <key>size</key>
            <string>{1838,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d96169aa1466b3ee7274b817f2754231:05103de996d8ecadcdfb65f0e9ae5b11:c5a8930ba4195bf316a78b77653f1c20$</string>
            <key>textureFileName</key>
            <string>goblin.png</string>
        </dict>
    </dict>
</plist>
