<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/unit/goblin/goblin_side_attack_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,80},{34,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,56}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_attack_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{64,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,55}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_attack_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{47,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,56}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_attack_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,77},{33,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,58}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_attack_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{37,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,59}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_walk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{46,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,51}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_walk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,0},{40,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,58}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_walk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,42},{35,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,56}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_walk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,55},{50,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,53}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_walk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,50},{57,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,47}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_walk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,0},{45,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,52}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_walk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,74},{35,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,56}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_walk_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,50},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>
			<key>animation/unit/goblin/goblin_side_win_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,128},{31,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,56}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_attack_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,40},{47,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,49}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_attack_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{60,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,50}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_attack_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,0},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_attack_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,92},{36,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,51}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_walk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,45},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_walk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,0},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_walk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,109},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_walk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,147},{38,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,45}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_walk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,91},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_walk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,42},{38,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,52}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_walk_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,112},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_walk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,0},{43,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,49}</string>
			</dict>
			<key>animation/unit/goblin/goblin_under_win_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,37},{39,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,51}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_attack_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,0},{42,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,55}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_attack_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,160},{30,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,54}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_attack_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,0},{52,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,56}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_attack_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,37},{37,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,56}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_walk_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{37,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,58}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_walk_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,135},{32,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,56}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_walk_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,0},{36,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,59}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_walk_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,97},{38,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,62}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_walk_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,47},{40,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,62}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_walk_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,52},{40,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,60}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_walk_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,36},{36,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,58}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_walk_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,87},{34,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,56}</string>
			</dict>
			<key>animation/unit/goblin/goblin_upper_win_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{32,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atlas.png</string>
			<key>realTextureFileName</key>
			<string>atlas.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>