<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2033.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>2034.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>2035.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>2036.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>2037.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>motar_bullet.png</string>
            <key>size</key>
            <string>{31,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57d566cab9446b0af279b022de9af7bf:858e3f4c64eeca20a8c3c638a6149db2:2c69b07ccec615342cde798f9fe626ff$</string>
            <key>textureFileName</key>
            <string>motar_bullet.png</string>
        </dict>
    </dict>
</plist>
