<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/barrier/goldStrage/gold_stage_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,0},{158,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,156}</string>
			</dict>
			<key>animation/barrier/goldStrage/gold_stage_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,0},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>animation/barrier/goldStrage/gold_stage_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{167,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,157}</string>
			</dict>
			<key>animation/barrier/goldStrage/gold_stage_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,0},{161,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,156}</string>
			</dict>
			<key>animation/barrier/goldStrage/gold_stage_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,0},{162,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,154}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atlas.png</string>
			<key>realTextureFileName</key>
			<string>atlas.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>